<h1>Okusuri</h1>
<%= form_tag('/medicine_masters/index', method: :get) do %>
  <%= text_field_tag :keyword, params[:keyword], placeholder: '医薬品名を入力してください' %>
  <%= submit_tag "検索" %>
<% end %>
<% @medicine_masters.each do |medicine_master| %>
  <p>
    <%= "#{medicine_master.code} #{medicine_master.name}" %>
    <%= link_to "[G]", "http://www.google.co.jp/#q=#{medicine_master.name}", target: "_blank" %>
  </p>
<% end %>
